<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>



<!-- Bootstrap and Jquery for multi-tab -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<!-- Icon -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">


</head>
<body>

	<div class="container">
		
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#">Welcome</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{leavelist}">View Leave Application for Approval</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{overtimelist}">Approve Compensation Claim</a></li>

			</ul>
		</nav>

		<div class="container-fluid">
			<h3>Brand / Logo</h3>
			<p>Welcome Manager Name : " "</p>
		</div>


	</div>

</body>
</html>